@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold", sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: #f305d7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 500px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #c204fc;
    border-radius: 2px;
    margin-top: 11px;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 20px;
    border-radius: 2px;
}

.row {
    width: 101%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: rgb(0, 204, 255);
    font-size: 23px;
}

label {
    user-select: none;
}

#btn {
    width: 101%;
    font-size: 26px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: rgb(0, 108, 216);
    color: rgb(255, 0, 0);
    margin-top: 10px;
    border-radius: 5px;
}